spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gestiondestock?createDatabaseIfNotExist=true&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: luca
    password: Just$Me12
    driver-class-name: com.mysql.cj.jdbc.Driver
  main:
    allow-circular-references: true
  jpa:
    database: MYSQL
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
    dispatch-options-request: true

server:
  port: 8081
  error:
    whitelabel:
      enabled: true

flickr:
  apiKey: abc11f1e268d908eeee176297269c001
  apiSecret: 50a8ae15b4224302
  appKey: 72157720855398857-f67e55f056acdd0d
  appSecret: 2ba345379070ffc8
